@model EstateSocialSystem.Web.Areas.Administration.ViewModels.AdministerEstateViewModel

<h2>AdministerEstateViewModel</h2>
@Html.ValidationSummary("", new { @class = "text-danger" })
<div class="form-group">
    @Html.LabelFor(e => e.Name, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.EditorFor(e => e.Name, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(e => e.Address, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.EditorFor(e => e.Address, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(e => e.Size, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.EditorFor(e => e.Size, new { @class = "form-control" })
    </div>
</div>

