@model EstateSocialSystem.Web.Models.UpdateApplianceViewModel

@using (Html.BeginForm("Update", "Appliance", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(e => e.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(e => e.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(e => e.Type, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(e => e.Type, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(e => e.Power, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(e => e.Power, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(e => e.Input, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(e => e.Input, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(e => e.Output, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(e => e.Output, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Update" />
        </div>
    </div>
}

