@model  EstateSocialSystem.Web.Models.EstateDisplayViewModel
@{ 
    ViewBag.Title = "Display";
}
<h2>Display</h2>
<h2>EstateCharacteristics</h2>
<div class="row">
    <div class="col-md-12 text-center">
        <h1>@Model.Name</h1>
    </div>
    <div class="col-md-12 text-center">
        <h4>@Model.Address</h4>
    </div>
    <div class="col-md-12 text-center">
        <h4>@Model.Size</h4>
    </div>
    <div class="col-md-12">
        <div class="row">
            @foreach (var comment in Model.Comments)
            {
                <div class="col-md-12 text-center">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h6>@comment.Author.UserName said:</h6>
                        </div>
                        <div class="panel-body">
                            @comment.Content
                        </div>
                        <div class="panel-footer">
                            <span class="small">Created on @comment.CreatedOn</span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<select form="formRate" name="rate">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
</select>
<form action="/Rating/Add/@Model.Id" method="post" id="formRate">
    <input type="submit" value="Rate"/>
</form>
<form action="/Comment/Create/@Model.Id" method="post">
    <label for="content">Content</label>
    <textarea id="content" name="content"></textarea>
    <input type="submit" value="Comment"/>
</form>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
