@model EstateSocialSystem.Web.Areas.Forum.ViewModels.QuestionDisplayViewModel
@{
    ViewBag.Title = Model.Question.Title;
}

<h1>@ViewBag.Title</h1>
<div class="row">
    <div>
        @Html.Raw(Model.Question.Content)
    </div>
    <div class="col-md-12">
        Asked by @Model.Question.Author <span class="small">on @Model.Question.CreatedOn</span>
    </div>
    <div class="col-md-12 divider"></div>
    @if (Model.Question.Answers.Any())
    {
        <div class="col-md-12">
            <div class="row">
                @foreach (var answer in Model.Answers)
                {
                    <div class="col-md-12 table-bordered" style="margin-bottom:10px;">
                        <p>
                            @answer.Title
                        </p>
                        <p>
                            @answer.Content
                        </p>
                        <span class="glyphicon glyphicon-arrow-right"></span><span class="small">Answer by @answer.Author on @answer.CreatedOn</span>
                    </div>
                }
                <div class="col-md-12 text-center">
                    <nav>
                        <ul class="pagination">
                            @if (Model.CurrentPage > 1)
                            {
                                <li>
                                    <a href="/questions/@Model.Question.Id?page=@(Model.CurrentPage - 1)" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            }
                            @for (int i = 1; i <= Model.TotalPages; i++)
                            {
                                var className = string.Empty;

                                if (Model.CurrentPage == i)
                                {
                                    className = "active";
                                }

                                <li class="@className"><a href="/questions/@Model.Question.Id?page=@i">@i</a></li>
                            }
                            @if (Model.CurrentPage < Model.TotalPages)
                            {
                                <li>
                                    <a href="/questions/@Model.Question.Id?page=@(Model.CurrentPage + 1)" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    }
</div>
@if (User.Identity.IsAuthenticated)
{
    @Html.Partial("Answer", Model.Answer);
}

