@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        @if (User.IsInRole("Regular"))
        {
            <li>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="estateDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                            style="margin-top:8px;">
                        Estate
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="estateDropDown">
                        <li>@Html.ActionLink("Create", "Create", "Estate", routeValues: null, htmlAttributes: new { id = "createLink" })</li>
                    </ul>
                </div>
            </li>
        } 
        @if (User.IsInRole("Manufacturer"))
        {
            <li>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="applianceDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                            style="margin-top:8px;">
                        Appliance
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="applianceDropDown">
                        <li>@Html.ActionLink("Create", "Create", "Appliance", routeValues: null, htmlAttributes: new { id = "createLink" })</li>
                    </ul>
                </div>
            </li>
        }
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "UserProfile", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
