@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated && !(User.IsInRole("Administrator")))
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="forumDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                        style="margin-top:8px;">
                    Forum
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="forumDropDown">
                    <li class="text-center"><a href="/Forum/ForumIndex/Index">Index</a></li>
                    <li class="divider"></li>
                    <li><a href="/Forum/Questions/Ask">Ask question</a></li>
                    <li><a href="/Forum/PageableAnswerList/Index">Answers</a></li>
                </ul>
            </div>
        </li>
        <li>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="estateDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                        style="margin-top:8px;">
                    Estate
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="estateDropDown">
                    <li class="text-center">@Html.ActionLink("View All", "ViewAll", "Estate", new { area = "" }, null)</li>
                    <li class="divider"></li>
                    @if (User.IsInRole("Regular"))
                    {
                        <li class="text-center">@Html.ActionLink("Create", "Create", "Estate", new { area = "" }, null)</li>
                        <li class="text-center">@Html.ActionLink("View Personal Estates", "Personal", "Estate", new { area = "" }, null)</li>
                    }
                </ul>
            </div>
        </li>
        <li>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="applianceDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                        style="margin-top:8px;">
                    Appliance
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="applianceDropDown">
                    <li class="text-center">@Html.ActionLink("View All", "ViewAll", "Appliance", new { area = "" }, null)</li>
                    <li class="divider"></li>
                    @if (User.IsInRole("Manufacturer"))
                    {
                        <li>@Html.ActionLink("Create", "Create", "Appliance", new { area = "" }, null)</li>
                        <li class="text-center">@Html.ActionLink("View Personal Appliances", "Personal", "Appliance", new { area = "" }, null)</li>
                    }
                </ul>
            </div>
        </li>
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "UserProfile", "Account", new { area = "" }, null)
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else if (Request.IsAuthenticated && User.IsInRole("Administrator"))
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">            
            <li>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="administrationDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                            style="margin-top:8px;">
                        Administration
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="administrationDropDown">
                        <li>
                            @Html.ActionLink("Administer Estates", "Index", "Estate", new { area = "Administration" }, null)
                        </li>
                        <li>
                            @Html.ActionLink("Administer Appliances", "Index", "Appliance", new { area = "Administration" }, null)
                        </li>
                        <li>
                            @Html.ActionLink("Administer Posts", "Index", "Post", new { area = "Administration" }, null)
                        </li>
                    </ul>
                </div>
            </li>            
            <li>
                @Html.ActionLink("Administrator " + User.Identity.GetUserName() + "!", "UserProfile", "Account", new { area = "" }, null)
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="forumDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                        style="margin-top:8px;">
                    Forum
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="forumDropDown">
                    <li class="text-center"><a href="/Forum/ForumIndex/Index">Index</a></li>
                    <li class="divider"></li>
                </ul>
            </div>
        </li>
        <li>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="estateDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                        style="margin-top:8px;">
                    Estate
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="estateDropDown">
                    <li class="text-center">@Html.ActionLink("View All", "ViewAll", "Estate", new { area = "" }, null)</li>
                    <li class="divider"></li>
                </ul>
            </div>
        </li>
        <li>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="applianceDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                        style="margin-top:8px;">
                    Appliance
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="applianceDropDown">
                    <li class="text-center">@Html.ActionLink("View All", "ViewAll", "Appliance", new { area = "" }, null)</li>
                    <li class="divider"></li>
                </ul>
            </div>
        </li>
        <li>@Html.ActionLink("Register", "RegisterOptions", "Account", new { area = "" }, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", new { area = "" }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
