@{
    ViewBag.Title = "Display";
}

<div class="row">
    <div class="col-md-12 text-center">
        <h1>Appliance @ViewBag.ApplianceViewModel.Name</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center"><h4>Type</h4></th>
                            <th class="text-center"><h4>Power</h4></th>
                            <th class="text-center"><h4>Input</h4></th>
                            <th class="text-center"><h4>Output</h4></th>
                            @if (ViewBag.ApplianceAverageRating != 0)
                            {
                                <th class="text-center"><h4>Rating</h4></th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">
                                <h4>@ViewBag.ApplianceViewModel.Type</h4>
                            </td>
                            <td class="text-center">
                                <h4>@ViewBag.ApplianceViewModel.Power</h4>
                            </td>
                            <td class="text-center">
                                <h4>@ViewBag.ApplianceViewModel.Input</h4>
                            </td>
                            <td class="text-center">
                                <h4>@ViewBag.ApplianceViewModel.Output</h4>
                            </td>
                            @if (ViewBag.ApplianceAverageRating != 0)
                            {
                                <td class="text-center">
                                    <h4>@ViewBag.ApplianceAverageRating</h4>
                                </td>
                            }
                        </tr>
                    </tbody>
                    <tfoot></tfoot>
                </table>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Comments</h4>
                    </div>
                    @foreach (var comment in ViewBag.ApplianceViewModel.Comments)
                    {
                        <div class="col-md-12" style="margin-bottom:20px;">
                            <div class="row">
                                <div class="col-md-12">
                                    <span class="glyphicon glyphicon-chevron-right"></span>@comment.Content
                                </div>
                                <div class="col-md-12 small">
                                    by @comment.Author.UserName on @comment.CreatedOn
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    @if (User.Identity.GetUserId() == ViewBag.ApplianceViewModel.ManufacturerId)
    {
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12" style="margin-bottom:20px;">
                    <a href="/Appliance/Update/@ViewBag.ApplianceViewModel.Id">
                        <div class="btn btn-warning">Update</div>
                    </a>
                    <a href="/Appliance/Delete/@ViewBag.ApplianceViewModel.Id">
                        <div class="btn btn-danger">Delete</div>
                    </a>
                </div>
                <div class="col-md-12 table-bordered" style="margin-bottom:20px;">
                    <form action="/Comment/CreateApplianceComment/@ViewBag.ApplianceViewModel.Id" method="post">
                        <label for="content">Content</label>
                        <textarea id="content" name="content"></textarea>
                        <input type="submit" value="Comment" />
                    </form>
                </div>
                <div class="col-md-12 table-bordered" style="margin-bottom:20px;">
                    <select form="formRate" name="rate">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <form action="/Rating/AddApplianceRating/@ViewBag.ApplianceViewModel.Id" method="post" id="formRate">
                        <input type="submit" value="Rate" />
                    </form>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
